@using Rupor.Public.Models.Component
@using Rupor.Public.Models.Dto
@model CategoryViewModel

<ul class="leftmenu">
    <li class="leftmenu-item"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></li>
    @foreach (var category in Model.Categories ?? new List<CategoryDto>())
    {
        <li class="leftmenu-item">
            <a href="@Url.Action("Index","Category",new {area="",id=category.Id })" class="leftmenu-item__link">
                @category.Name
            </a>
        </li>
    }

</ul>