
@{
    ViewBag.Title = "Первичные настройки приложения";    
}
<div class="alert alert-success margin-bottom-10">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
    <i class="fa fa-warning fa-lg"></i> Данный раздел предназанчен для инициализации стандартных настроек. Т.е. то что будет по стандарту в отображении элементов.
</div>
<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal form-row-seperated">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-settings"></i> 
                        </div>
                        <div class="actions btn-set">
                                                       
                            @*<button class="btn btn-success">
                                <i class="fa fa-check"></i> Save
                            </button>
                            <button class="btn btn-success">
                                <i class="fa fa-check-circle"></i> Save &amp; Continue Edit
                            </button>
                            <div class="btn-group">
                                <a class="btn btn-success dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                                    <i class="fa fa-share"></i> More
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;"> Duplicate </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;"> Delete </a>
                                    </li>
                                    <li class="dropdown-divider"> </li>
                                    <li>
                                        <a href="javascript:;"> Print </a>
                                    </li>
                                </div>
                            </div>*@
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tabbable-bordered">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_profile" data-toggle="tab" aria-expanded="true">Профиль </a>
                                </li>
                                <li class="">
                                    <a href="#tab_section" data-toggle="tab" aria-expanded="false">Разделы </a>
                                </li>
                                <li class="">
                                    <a href="#tab_article" data-toggle="tab" aria-expanded="false">Статья </a>
                                </li>
                                <li class="">
                                    <a href="#tab_rss" data-toggle="tab" aria-expanded="false">RSS источники</a>
                                </li>
                                <li class="">
                                    <a href="#tab_materials" data-toggle="tab" aria-expanded="false">Материалы </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_profile">
                                                                   
                                </div>
                                <div class="tab-pane" id="tab_section">
                                   
                                </div>
                                <div class="tab-pane" id="tab_article">
                                  
                                </div>
                                <div class="tab-pane" id="tab_rss">
                                    
                                </div>
                                <div class="tab-pane active" id="tab_materials">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

