<div class="form-body">
    @*<div class="form-group">
            <label class="col-md-2 control-label">
                Name:
                <span class="required"> * </span>
            </label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="product[name]" placeholder="">
            </div>
        </div>*@

</div>

