@model Rupor.Public.Models.Profile.AuthUserWidgetModel
<div class="account">
    @if (Model.IsAuth)
    {
    <div class="account-info">        
        <a href="@Url.Action("Index","Profile")" class="account-info__login">@Model.Name </a>
        
    </div>
    }
    else
    {
        <div class="account-info">
            <a href="@Url.Action("Login","Account")" class="account-info__login">Вход </a>
        </div>
    }
</div>
